<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Navbar</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>
        header {
            display: flex;
            justify-content: end;
            align-items: center;
            padding: 1% 5%;
            height: 7%;
            background-color: #292a2c;
            position: fixed;
            top: 0%;
            width:100%;
            z-index: 2;
        }

        .logo {
            cursor: pointer;
        }

        .nav__links a,
        .cta,
        .overlay__content a {
            font-family: "Montserrat", sans-serif;
            font-weight: 500;
            color: #edf0f1;
            text-decoration: none;
        }

        .nav__links {
            margin-right: 20%;
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .nav__links li {
            padding: 0px 20px;
        }

        .nav__links li a {
            transition: color 0.3s ease 0s;
        }

        .nav__links li a:hover {
            color: #35c3e6;
            font-size: large;
        }

        .cta {
            padding: 9px 25px;
            background-color: rgba(0, 136, 169, 1);
            border: none;
            border-radius: 50px;
            cursor: pointer;
            transition: background-color 0.3s ease 0s;
        }

        .cta:hover {
            background-color: rgba(0, 136, 169, 0.8);
        }

        /* Mobile Nav */
        .menu {
            display: none;
        }

        .overlay {
            height: 100%;
            width: 0;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            background-color: #24252a;
            overflow-x: hidden;
            transition: width 0.5s ease 0s;
        }

        .overlay--active {
            width: 100%;
        }

        .overlay__content {
            display: flex;
            height: 100%;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .overlay a {
            padding: 15px;
            font-size: 36px;
            display: block;
            transition: color 0.3s ease 0s;
        }

        .overlay a:hover,
        .overlay a:focus {
            color: #0088a9;
        }

        .overlay .close {
            position: absolute;
            top: 20px;
            right: 45px;
            font-size: 60px;
            color: #edf0f1;
        }

        @media screen and (max-height: 450px) {
            .overlay a {
                font-size: 20px;
            }

            .overlay .close {
                font-size: 40px;
                top: 15px;
                right: 35px;
            }
        }

        @media only screen and (max-width: 800px) {

            .nav__links,
            .cta {
                display: none;
            }

            .menu {
                display: initial;
            }
        }

        nav {
            display: flex;
        }

        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f1f1f1;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 1;
        }

        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

        .dropdown-content a:hover {
            background-color: #ddd;
        }

        .dropdown:hover .dropdown-content {
            display: block;
        }

    </style>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:500&display=swap" rel="stylesheet">
</head>

<body>
    <header style="border-bottom: whitesmoke solid 4px;">
        <nav>
            <h2 style="color:white; position: fixed; color: white;width: 140%;margin-left: -125%;">
                Student Reward System
            </h2>
            <ul class="nav__links">
                <li><a href="../home">Home</a></li>
                <li><a href="../create">Gallery</a></li>
                <li><a href="../about">About</a></li>
                <li><a href="../Login">
                        <div class="dropdown">
                            <div class="dropbtn">Login</div>
                            <div class="dropdown-content">
                                <a href="/a_login">As Admin</a>
                                <a href="/i_login">As Instructor</a>
                                <a href="/s_login">As Student</a>
                            </div>
                        </div>
                    </a></li>
            </ul>
        </nav>
        <h3 style="color:whitesmoke;margin-right: 5%;"></h3>
        <p class="menu cta">Menu</p>
    </header>
    <div class="overlay">
        <a class="close">&times;</a>
        <div class="overlay__content">
            <a href="../blogs">Home</a>
            <a href="../create">Create</a>
            <a href="../about">About</a>
            <a href="../Login">Log Out</a>
        </div>
    </div>

</body>

</html>