table, th, td{
    border: 1px solid rgb(255, 255, 255);
    border-collapse: collapse;
    white-space: nowrap;
}

table{
    margin-bottom: 2%;
    margin-left: 2%;
    backdrop-filter: blur(30px);
    padding: 2%;
    color:white;
    width:100%;
}

.scroll_it{
    overflow-x:auto;
    scroll-behavior: smooth;
    padding-right: 5%;
    padding-top: 5%;
    padding-left: 5%;
    padding-bottom: 5%;
    border: 4px white solid;
}

.tbl{
    margin-top: 7%;
    width:60%;
    text-align: center;
    padding-bottom: 2%;
}

.btn{
    margin: auto;
    color: white;
    padding: 0% 5%;
}

.bt{
    display: inline-block;
    padding-inline: 20%;
}

a{
    color:rgb(255, 255, 255);
}