<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="css/index_css.css" type="text/css">
  <link rel="stylesheet" href="css/title_css.css" type="text/css">
  <link rel="stylesheet" href="css/form_css.css" type="text/css">
  <link rel="stylesheet" href="css/table_css.css" type="text/css">
  <title>Student Info</title>
</head>

<body style="background-image: url('/imgs/table_bg.jpg'); background-attachment: fixed;">
  <!--Nav bar-->
  <%- include('../partials/header_log.ejs') %>

    <div class="tbl">
      <% let col=[]; %>
        <% for (let i=0; i < data.length; i++) { %>
          <% for (let key in data[i]) { %>
            <% if (col.indexOf(key)===-1) { %>
              <% col.push(key); %>
                <% } %>
                  <% } %>
                    <% } %>

                      <div class="scroll_it">
                        <table>
                          <% col.forEach(thead=> { %>
                            <th>
                              <%= thead %>
                            </th>
                            <% }); %>
                              <% data.forEach(element=> { %>
                                <tr>
                                  <% col.forEach(cd=> { %>
                                    <td>
                                      <%= element[cd] %>
                                    </td>
                                    <% }); %>
                                </tr>
                                <% }); %>
                        </table>
                      </div>
    </div>
    
    <%- include('../partials/footer.ejs') %>
</body>

</html>

<script>
  let tableFromJson = () => {
    // the json data.
    const myBooks = data;

    // Extract value from table header. 
    // ('Book ID', 'Book Name', 'Category' and 'Price')
    let col = [];
    for (let i = 0; i < myBooks.length; i++) {
      for (let key in myBooks[i]) {
        if (col.indexOf(key) === -1) {
          col.push(key);
        }
      }
    }

    // Create a table.
    const table = document.createElement("table");

    // Create table header row using the extracted headers above.
    let tr = table.insertRow(-1);                   // table row.

    for (let i = 0; i < col.length; i++) {
      let th = document.createElement("th");      // table header.
      th.innerHTML = col[i];
      tr.appendChild(th);
    }

    // add json data to the table as rows.
    for (let i = 0; i < myBooks.length; i++) {

      tr = table.insertRow(-1);

      for (let j = 0; j < col.length; j++) {
        let tabCell = tr.insertCell(-1);
        tabCell.innerHTML = myBooks[i][col[j]];
      }
    }

    // Now, add the newly created table with json data, to a container.
    const divShowData = document.getElementById('showData');
    divShowData.innerHTML = "";
    divShowData.appendChild(table);
  }
</script>