<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/index_css.css" type="text/css">
    <link rel="stylesheet" href="css/title_css.css" type="text/css">
    <link rel="stylesheet" href="css/form_css.css" type="text/css">
    <link rel="stylesheet" href="css/btn_css.css" type="text/css">
    <title>Document</title>
</head>

<body>
    <%- include('../partials/header_log.ejs') %>

    <div class="Form_Div">
        <div class="form_title">Basic Info</div>
        <hr class="hr_form">
        <form action="/s_signin" method="post" id="insert_form" class="insrt_form">
            <!--First Name-->
            <label for="fname" class="form_text">
                Student's First Name
            </label>
            <br>
            <input type="text" class="fname_ip ip" name="fname" id="fname" required>
            <br>

            <!--Middle Name-->

            <label for="mname" class="form_text">
                Student's Middle Name
            </label>
            <br>
            <input type="text" class="mname_ip ip" name="mname" id="mname" required>
            <br>
            <!--Last Name-->

            <label for="lname" class="form_text">
                Student's Last Name
            </label>
            <br>
            <input type="text" class="lname_ip ip"  name="lname" id="lname" required>
            <br>
            <!--Student PhoneNo.-->

            <label for="phone" class="form_text">
                Student's PhoneNo
            </label>
            <br>
            <input type="text" class="phn_ip ip" name="phone" id="phone" required>
            <br>
            <!--Student Email-->

            <label for="email" class="form_text">
                Student's Email Address
            </label>
            <br>
            <input type="text" class="email_ip ip" name="email" id="email" required>
            <br>

            <!--Student Passwd-->
            <label for="passwd" class="form_text">
                    Create Password
            </label>
            <br>
            <input type="password" class="passwd_ip ip"  name="passwd" id="passwd" required>
            <br>

            <label for = "dob" class="form_text">
                Date Of Birth
        </label>
        <br>
        <input type="date" class="dob_ip ip" min="1995-01-01" max="2022-12-31" name="dob" id="dob" required>
        <br>


        <!--cpi-->

        <label for = "cpi" class="form_text">
            CPI
        </label>
        <br>
        <input type="number" class="cpi_ip ip" min="0" max="10" name="cpi" id="cpi" required>
        <br>
        
        <!--weight-->

        <label for = "weight" class="form_text">
            Weight
        </label>
        <br>
        <input type="number" class="weight_ip ip" min="30" max="150" name="weight" id="weight" required>
        <br>

        <!--height-->

        <label for = "height" class="form_text">
            Height
        </label>
        <br>
        <input type="number" class="height_ip ip" min="50" max="250" name="height" id="height" required>
        <br>

        <!--Street-->

        <label for = "street" class="form_text">
                Street
        </label>
        <br>
        <input type="text" class="strt_ip ip" name="street" id="street" required>
        <br>

        <!--City-->

        <label for = "city" class="form_text">
                City
        </label>
        <br>
        <input type="text" class="city_ip ip" name="city" id="city" required>
        </br>

        <!--PINCODE-->
        <label for = "pin" class="form_text">
            PIN Code
        </label>
        <br>
        <input type="number" class="pin_ip ip" name="pin" id="pin" required>
        </br>
            <button class="btn submit_btn" onclick="myFunc();">
                Next
            </button>
        </form>
    </div>
</body>
<%- include('../partials/footer.ejs') %>

</html>

<script>
    function myFunction(){
        document.getElementById("insert_form").submit();
    }
</script>